body {
    font-family: arial, sans-serif;
    font-size: 16px;
    user-select: none;
    cursor: default;
}

.wrapper {
    position: absolute;   
}

.wrapper, #game-canvas, #menu {
    width: 800px;
    height: 600px;
}

#game-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

li {
    padding: 10px 0;

}

a {
    text-decoration: none;
    color: inherit;
    text-shadow: -1px -1px 0 rgb(0, 0, 0);
}

.button {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid purple;
    color: purple;
    font-weight: bold;
    text-shadow: 1px 1px orange;
    background-color: green;
    background-image: green;
    border-radius: 10px;
}

.button:hover {
    background-color: yellow;
    background-image: yellow;
}

#main {
    display: none;
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#main h1 {
    color: purple;
    text-shadow: -1px -1px 0 orange;
    margin-top: 150px;
}

#menu {
    position: absolute;
    border: 1px solid black;
    z-index: 2;
    text-align: center;
    background-color: grey;
}

#menu.main {
    background-image: url('assets/images/menu background.png');
}



